# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node
node_modules/
frontend/node_modules/
# frontend/dist/  <-- COMENTADO PARA SUBIR A NUBE

# Logs
*.log

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
